.thread(id="#{_id}")
  .op(id="#{original._id}")
    .posthead
      if original.title
        span.title #{original.title}
      span.author #{original.author}
      | - 
      span.reflink: a(href="#/thread/#{_id}/#{original._id}") Reply
      |  - 
      span #{prettyDate(original.created)}
    .postbody
      if original.image && original.thumbnail
        a(href="#{original.image}"): img.thumb(src="#{original.thumbnail}")
      blockquote.postmessage #{original.text}

  each post in replies
    table(id="#{post._id}")
      tbody
        tr
          td.post
            .posthead
              if post.title
                span.title #{post.title}
              span.author #{post.author}
              |  - 
              span.reflink: a(href="#/thread/#{_id}/#{post._id}") #{post._id}
              |  - 
              span #{prettyDate(post.created)}
            .postbody
              if post.image && post.thumbnail
                a(href="#{post.image}"): img.thumb(src="#{post.thumbnail}")
              blockquote.postmessage #{post.text}